<!DOCTYPE html>

<html>
<head>
  <title>Learning Journal</title>
  <link href="./static/theme.css" rel="stylesheet">
</head>
<body>

<div class='link'>
  <a href="/"><h2>Home</h2></a>
  <a href="/add"><h2>New Journal<h2></a>
</div>

<div><a href="{{request.route_url('login')}}"><h3>Login</h3></a></div>

<h1>Welcome to the Learning Journal</h1>

{% block content %}

{% endblock %}

</body>
</html>