{% extends "base.jinja2" %}
{# didn't adapt base css #}

{% block content %}
    <a href="{{request.route_url('edit', detail_id=entry.id)}}">Edit
    </a>

    <h4>{{entry.title}}</h4>
    <p>{{entry.created.strftime('%Y-%m-%d at %H:%M UTC')}}</p>
    <p>{{entry.text}}</p>

{% endblock %}